header {
    background-image: linear-gradient(to right, blue, darkblue);
    width: 99%;
}

h1 {
    color: white;
}

h2 {
    font-weight: bold;
}

img {
    height: 45px;
}

#cityInfo {
    width: 98%;
}

#currentUVI {
    color: white;
    padding: 0 10px;
}

.card {
    margin-right: 25px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(102, 176, 201);
    font-weight: bold;
}